.tg  {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    /* border-color:rgb(189, 187, 187) !important; */
    border: none !important;
}

.tg tr:nth-child(1) th{
    border: none;
    font-weight: bold;
}

.tg tr:nth-child(1) th span{
    display: flex;
    justify-content: center;
    color: #0073bb;
}

.tg th{
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.tg .tg-iks7{
    border-color:#000000;
    text-align:left;
    vertical-align:top;
}

.tg .tg-iks7{
    background: none;
    border: none;
}

.tg .tg-0lax{
    background: none;
    border: none;
}

.tg td{
    /* background: white; */
    padding-top: 0 !important;
}

.tg .tg-iks7.image-container{
    position: absolute;
}

.tg .tg-0lax{
    text-align:left;
    vertical-align:top
}

.tg td .input-container{
    background: white;
    padding: 6px;
    border: 1px solid rgb(202, 202, 202);
}

.tg td .input-container .title{
    font-size: 18px;
    font-weight: bold;
}

/* .floated-label-placeholder{
    display: var(--isdisplayed, none) !important;
} */

.form-container{
    display: flex;
    flex-direction: row;
}

.form-container .table-container{
    margin-left: 12px;
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.form-container .instructions-container{
    margin: 0 0 0 12px;
    position: relative;
    display: flex;
    width: 100%;
}

.form-container .instructions-container .inner-instructions-container{
    margin: 0 60px 0 0;
    position: fixed;
}

.form-container .instructions-container .inner-instructions-container p{
    margin: 0;
    margin-bottom: 24px;
    width: 300px;
}

.form-container .image-container{
    display: flex;
    min-width: 400px;
}

.form-container .image-container .inner-image-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    /* background: white; */
}

.form-container .image-container .inner-image-container .title{
    font-weight: bold;
    margin: 7px 0;
    display: flex;
    justify-content: flex-start;
}

.form-container .image-container .inner-image-container img{
    width: 400px !important;
}

.img-zoom-result {
    margin-top: 24px;
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
    position: relative;
}

.img-zoom-result .info-text-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.img-zoom-result.default .info-text-container{
    opacity: 1;
}

.img-zoom-result .info-text-container .info-text{
    display: flex;
    margin: 0 40px;
    text-align: center;
}

.img-zoom-lens {
    position: absolute;
    border: 2px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 150px;
    height: 150px;
}